@import "bootstrap.less";

@import "http://webfonts.ru/import/bender.css";
@import "http://webfonts.ru/import/fontin.css";

@font-family-serif:  "Bender";
@font-family-sans-serif:       'Fontin Sans';

@navbar-default-bg: #ffffff;
@navbar-default-border: #eeeeee;

.landing-navbar {
  .navbar;
  .navbar-default;
  .navbar-fixed-top;
}

.landing-map {
  height: 350px;
}

.landing-container {
  .container;
  padding-top: 25px;
  padding-bottom: 25px;
}